@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  color-scheme: light dark;
}

html,
body {
  /* Try prevent mobile swap */
  overscroll-behavior-x: none;
  touch-action: pan-y;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* Make easier mobile swap for iOS Safari (can't prevent) */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
